---
title: Middleman & Tailwind CSS
---

<div class="p-6">
  <h1 class="font-thin text-3xl">
    Middleman & Tailwind CSS
  </h1>
  <p x-data="{ wordOfTheDay: 'Relentless'}">
    The word of the day is: <span x-text="wordOfTheDay"></span>
  </p>
</div>
